.row {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.index-col {
    height: 180px;
    border: 1px solid black;
    padding: 1%;
}

.new-challenge-button {
    background-color: #5cb85c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
  //  text-align: center;
    font-size: 30px;
    border: 3px solid black;
    margin: auto;
    //vertical-align: middle;
   // line-height: -50px;

}

.new-challenge-button > a {
    text-decoration: none;
    color: black;
}

.new-challenge-button > a:hover {
    text-decoration: none;
}

.search-form-input {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
}

.search-form-input input, select {
    width: 40%;
}

.search-form-input select {
    height: 30px;
}

.addIcon {

    svg {
        height: 50px;
        width: 50px;
    }

    margin-bottom: 10px;

}
