.row {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.sec {
    border: 1px solid black;
    text-align: center;
}

.left-section {
    border: 1px solid black;
    margin: 0 auto;
}

.plus {
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
}
