.navbar {
     padding: 10px 50px 10px 50px;

    .navbar-brand {
        background-color: #ff705e;
        border-radius: 50%;
        padding: 10px;
    }

    #login {
        margin-right: 20px;
    }

    #nav-search {
        padding: 10px;
        width: 300px;
    }
}

